.nav-1{
     /* border: 5px solid red; */
     cursor: pointer; 
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 2px solid rgb(184, 182, 182);
}
.nav-1>div{
    /* border: 5px solid green; */
    width: 30%;
}
.nav-1>:nth-child(3){
    /* border: 5px solid blue; */
    display: flex;
    justify-content: space-around;
}