
.spotify-search-container {
    border: 2px solid black;
    width: 60%;
    height: 560px;
    margin: 0 auto;
    margin-top: 50px;
   
  }
  
  .ButtonColor{
    background-color: blue;
    margin-left: 10px;
    color: white;
  height: 30px;
  width: 90px;
  font-weight: 1000;
  }

  .Search{
    height: 700px;
    width: 90%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 30px;
     
  }
  